@model Restaurant.MVC.Models.SearchViewModel

<div>
    <h4>Query : CheckIn: @Model.startDate  |  CheckOut: @Model.endDate</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

@Html.Action("RoomOffersResults",new
{
    start=Model.startDate,
    end=Model.endDate,
    roomType=Model.RoomType
})